<h1><%=@post.id%>번 post입니다.</h1>
<h2>제목 : <%=@post.title%></h2>
<h2>내용 : <%=@post.content%></h2>
<hr>
<!-- 글에 댓글을 작성할 곳 -->
<h3> 댓글 입니다. </h3>
<form action="/comments/create/<%=@post.id%>" method="post">
    <input type="text" name="input_comment">
    <input type="submit">
</form>
<hr>
<% @comments.each do |comment| %>
    <p><%=comment.content%>
    <a href="/comments/destroy/<%=@post.id%>/<%=comment.id%> "
    data-method='post' 
    data-confirm='댓글을 삭제합니다'>[X]</a></p>
<%end%>
<hr>

<h3><a href="/posts/edit/<%=@post.id%>">[수정]</a></h3>
<h3><a href="/posts/destroy/<%=@post.id%>" 
data-confirm="진짜로 삭제하시겠어요?" data-method="post">[삭제]</a></h3>
<h3><a href="/">[목록]</a></h3>
